.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error {
    color: #FF0000;
}

.show {
    display: block;
}

.show {
    display: none;
}

.margin-top {
    margin-top: 15px;
}

.right {
    text-align: right;
}

.show-grid {
  margin-bottom: 5px;
}